@import '../node_modules/antd/dist/antd.css';




.App {
  width: 80%;
  margin: 0 auto;
  margin-top: 2em;
  text-align: center;
}


.App-logo {
  height: 40vmin;
}

.login-form {
  background:rgb(233, 233, 233);
  margin: 0 auto;
  width: 60%;
  text-align: left;
  }
  
  .login-form-button {
    display: flex;
  }  

.App-form {
  background-color: rgb(233,233,233);
  min-height: 70vh;
  width: 60vw;
  margin: 0 auto;
  margin-top:1em;
  border-radius: 5px;
  box-shadow: 2px 1px 8px 2px rgb(180, 180, 180);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.divBorder {
  background-color: #E8E8E8;
  width: 60%;
  height: 30em;
  padding: 50px;
  color: red;
  margin: 0 auto;
  margin-top: 5em;
  border-radius: 1%;
  box-shadow: 1px 2px 7px 2px #888888;
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  padding-left: 9%;
}

input, button {
  width: 90%;
  -webkit-appearance: none;
  text-align: center;
  background: white;
  margin: 2em;
}

button {
  margin: 0 auto;

  width: 40%;
}


.header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 1.5em;
} 

.formdata {
  text-align: left;
}


@media screen and (max-width: 600px) {
  .secondary {
    display: none;
  }
}